<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/servers.css') }}">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter"> 
		<div class="container-table100">
			<div class="wrap-table100">
				<div class="table100">
				<div class="myzeft" style = "margin-left: 500px;"><a href="{{ url_for('newApp')}}" style = "color : white; text-decoration:none;">+</a></div>
					<table>
						<thead>
							<tr class="table100-head">
								<th class="column1">Application</th>
							</tr>
						</thead>
						<tbody>	
								{%if apps != [] %}	
								{% for i in apps %}
								<tr>
									<td class="column1"><a href = "{{url_for('ShowAppDetails',project_name = i.project)}}">{{i.project}}</a></td>
									
								</tr>
								{% endfor %}
								{% endif %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
